a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: #FBFFE2;	
}
a:hover{
	color:  #C70039;
}
a:active{
	color: #99FEFF;
	
}
img{
	height:230px;
	width: 160px;
	border: 2px solid #FF87CA;	
	border-radius: 100px;
	margin: auto;
}
.introduction{
	color: #94B3FD;
	text-indent: 1px;
	background-color: #FFC4E1;
	max-width:400px;
	margin: 2px auto;
	margin-left: 20px;
	padding: 5px;
	text-align: justify;
	justify-content: center;
}
.icon{
	background-color: #B983FF;
	max-width: 20px;
	margin: 10px auto;
	padding: 5px;
	border-radius: 5px;
}
.botton{
	background-color: #B983FF;
	max-width: 400px;
	margin: 10px auto;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
}
ul{
	list-style-type: none;
}
.flex{
	display: flex;
}
.container{
  background-color: #FFC4E1;
  max-width: 400px;
  margin: auto;
  padding: 20px 25px;
}
.footer{
	text-align: right;
}
h1{
	color: gray;
	text-align: center;
}
body{
  background-color:  #EAEAEA;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  align-content: center;
  height: 100%;
}
